.d-flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.j-center {
    justify-content: center;
}

.a-i-center {
    align-items: center;
}

.a-c-center {
    align-content: center;
}